<!----------------------------EXPENSES NEW ADAPTATION ------------------------ -->

{% extends 'base.html' %}


{% block title %} 
    Home 
{% endblock %}


{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
      <div class="panel-body">All Time Average {{all_tme_avg}} // Days since start {{days_count_final}} 
        // All Time Sum {{all_time_sum}} // All Days Historical {{days_count_final}}</div>
  </div>



    <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>

                {% endfor %}

            {% endif %}
        {% endwith %}


        <table class="table table-success table-striped table-hover table-dark" border="0.2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Comments</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>


                {% for learn_query in learn_query_all %}
                    <tr>
                        <td>{{learn_query.id}}</td>
                        <td>{{learn_query.subject}}</td>
                        <td>{{learn_query.duration}}</td>
                        <td>{{learn_query.date_added.strftime('%Y-%m-%d')}}</td>
                        <td>{{learn_query.comment}}</td>
                        <td>
                            <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modaledit{{learn_query.id}}">Update</a>
                            <a href="" class="btn btn-danger" onclick="return confirm('Sure to delete?')">Delete</a>
                        </td>
                    </tr>


                    <!-- update model -->
 <div id="modaledit{{learn_query.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog" >
       <div class="modal-content"  style="background-color: #273746;">
          <div class="modal-header" style="background-color: #273746;">
             <h4 class="modal-title">Update</h4>
          </div>
          <div class="modal-body" style="background-color: #273746;">
 
             <form action="{{url_for('update')}}" method="POST">
 
 
                <div class="form-group">
 
                   <label>Subject:</label>
                    <input type="hidden"  name="id" value="{{learn_query.id}}">
                   <input type="text" class="form-control" name="subject" value="{{learn_query.subject}}" >
 
                </div>
 
 
 
                 <div class="form-group">
                   <label>Duration:</label>
                   <input type="text" class="form-control" name="duration" value="{{learn_query.duration}}">
                </div>
 
                  <div class="form-group">
                   <label>date_added:</label>
                   <input type="date" class="form-control" name="date_added" value="{{learn_query.date_added}}">
                </div>

                <div class="form-group">
                    <label>Comment:</label>
                    <input type="datetime" class="form-control" name="comment" value="{{learn_query.comment}}">
                 </div>
 
                <div class="form-group">
                   <button class="btn btn-primary mt-4" type="submit">Update</button>
                </div>
 
 
             </form>
 
 
          </div>
 
 
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
 
          </div>
 
 
       </div>
 
 
    </div>
 
 
 </div>
 


                    



                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



