{% extends 'base.html' %}
{% block title %}
  Januray
{% endblock %}




{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
</div>

 
      <table class="table table-success table-striped table-hover table-dark" border="0.2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Comments</th>
                <th colspan="2">Actions</th>
            </tr>
          </thead>
         <tbody>

            {% for j in janr %}
            <tr>
              <td>{{j.id}}</td>
              <td>{{j.subject}}</td>
              <td>{{j.duration}}</td>
              <td>{{j.date_added.strftime('%Y-%m-%d')}}</td>
              <td>{{j.comment}}</td>
          </tr>
          {% endfor %}



        </tbody>
    </table>
{% endblock %}


