{% extends 'base.html' %}
{% block title %}
  Mo_Su
{% endblock %}




{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
</div>

 
      <table class="table table-success table-striped table-hover table-dark" border="0.2">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Date</th>
                <th>Comments</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>

            <tbody>
              {% for day in mo_to_sun %}
                <tr>
                  <td>{{day.id}}</td>
                  <td>{{day.subject}}</td>
                  <td>{{day.duration}}</td>
                  <td>{{day.date_added.strftime('%Y-%m-%d')}}</td>
                  <td>{{day.comment}}</td>
                </tr>
              {% endfor %}
            </tbody>

            
      </table>
{% endblock %}


